# Ignore all files in this directory by default
*

# Allow only specific files
!.gitignore
!config
!README.md

# Explicitly ignore private keys and other sensitive files
id_*
known_hosts
authorized_keys
*.pem
*.key 